h1 {
  text-align: center;
  color: #fefcfc;
}

h2 {
  color: #fefcfc;
}

main {
  background-color: black;
}

p {
  color: #fefcfc;
  font-size: xx-large;
}

img {
  width: 500;
  height: 400;
}

label {
  color: #fefcfc;
  font-size: x-large;
  padding: 1rem;
}
